<article class="container">
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide mt-2" data-bs-ride="carousel">
    <h1>Popularne knjige kek</h1>
    <hr>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/a4a3aa64-d196-4b8b-b837-7512c4b20dde.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/f094b793-8937-4efd-92bf-532f1a9aee02.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/4782b952-7bce-4414-8a7f-86c73f04aeca.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/9d531f9f-f175-40a0-9f5c-315cc0c34c07.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/a4a3aa64-d196-4b8b-b837-7512c4b20dde.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/f094b793-8937-4efd-92bf-532f1a9aee02.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/4782b952-7bce-4414-8a7f-86c73f04aeca.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/9d531f9f-f175-40a0-9f5c-315cc0c34c07.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/a4a3aa64-d196-4b8b-b837-7512c4b20dde.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/f094b793-8937-4efd-92bf-532f1a9aee02.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/4782b952-7bce-4414-8a7f-86c73f04aeca.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/9d531f9f-f175-40a0-9f5c-315cc0c34c07.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <i class="fa-solid fa-angle-left"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <i class="fa-solid fa-angle-right"></i>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>



  <div id="carouselExampleIndicators2" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <h1>Nove knjige kek</h1>
    <hr>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/a4a3aa64-d196-4b8b-b837-7512c4b20dde.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/f094b793-8937-4efd-92bf-532f1a9aee02.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/4782b952-7bce-4414-8a7f-86c73f04aeca.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/9d531f9f-f175-40a0-9f5c-315cc0c34c07.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/a4a3aa64-d196-4b8b-b837-7512c4b20dde.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/f094b793-8937-4efd-92bf-532f1a9aee02.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/4782b952-7bce-4414-8a7f-86c73f04aeca.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/9d531f9f-f175-40a0-9f5c-315cc0c34c07.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/a4a3aa64-d196-4b8b-b837-7512c4b20dde.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/f094b793-8937-4efd-92bf-532f1a9aee02.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/4782b952-7bce-4414-8a7f-86c73f04aeca.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/9d531f9f-f175-40a0-9f5c-315cc0c34c07.jpg">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 img-container">
            <img src="https://znanje.hr/product-images/35c8c1fc-cfc1-40c4-b63f-cc5e7b0e4a21.jpg">
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
      <i class="fa-solid fa-angle-left"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
      <i class="fa-solid fa-angle-right"></i>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>
</article>