<app-navbar-content></app-navbar-content>
<article class="container mb-5 mt-3" *ngIf="user">
  <h5 *ngIf="!authenticationService.isUserAdmin()">Dobro došli, {{user.firstName}}  {{user.lastName}}</h5>
  <h5 *ngIf="authenticationService.isUserAdmin()">Podaci o korisniku: {{user.username}} - {{user.firstName}}  {{user.lastName}}</h5>
  <h5></h5>
  <hr>
  <div class="row" id="group">
    <div class="col-2 border-end">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#userDetails"
                  aria-expanded="true"
                  aria-controls="userDetails">Korisnički podaci
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#orders"
                  aria-expanded="false"
                  aria-controls="orders">Narudžbe
          </button>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAdmin()">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#allUsers"
                  aria-expanded="false"
                  aria-controls="allUsers">Korisnici
          </button>
        </li>
      </ul>
    </div>

    <div class="col-10 collapse show" id="userDetails" data-bs-parent="#group">
      <h5 class="pb-3 border-bottom">Korisnički podaci</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: {{user.username}}</li>
        <li class="list-group-item">E-mail: {{user.email}}</li>
        <li class="list-group-item">Ime: {{user.firstName}}</li>
        <li class="list-group-item">Prezime: {{user.lastName}}</li>
        <li class="list-group-item">Broj telefona: {{user.phoneNumber}}</li>
        <li class="list-group-item">Adresa: {{user.address}}</li>
        <li class="list-group-item">Poštanski broj: {{user.postalCode}}</li>
        <li class="list-group-item">Grad: {{user.city}}</li>
      </ul>
    </div>
    <div class="col-10 collapse" id="orders" data-bs-parent="#group">
      <h5 class="pb-3 border-bottom">Narudžbe</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let order of orders">
          <a routerLink="../../order/{{order.id}}"> Narudžba {{fillZeroes(order.id)}} - {{order.totalPrice}} kn, {{order.datePlaced}} </a>
        </li>
      </ul>
    </div>

    <div class="col-10 collapse" id="allUsers" data-bs-parent="#group" *ngIf="authenticationService.isUserAdmin()">
      <h5 class="pb-3 border-bottom">Svi korisnici</h5>
      <ul class="list-group list-group-flush">
        <a routerLink="../../user/{{user.username}}" *ngFor="let user of allUsers">{{user.username}} - {{user.firstName}} {{user.lastName}}</a>
      </ul>
    </div>

  </div>
</article>

<script>
  jQuery('button').click( function() {
    jQuery('.collapse').collapse('hide');
  });
</script>