<app-navbar-content></app-navbar-content>
<article class="container mb-5 mt-3" *ngIf="user">
  <h5 *ngIf="!authenticationService.isUserAdmin()">Dobro došli, {{user.firstName}}  {{user.lastName}}</h5>
  <h5 *ngIf="authenticationService.isUserAdmin()">Podaci o korisniku: {{user.username}} - {{user.firstName}}  {{user.lastName}}</h5>
  <h5></h5>
  <hr>
  <div class="row" id="group">
    <div class="col-2 border-end">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#userDetails"
                  aria-expanded="true"
                  aria-controls="userDetails">Korisnički podaci
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#orders"
                  aria-expanded="false"
                  aria-controls="orders">Narudžbe
          </button>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAdmin()">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#allUsers"
                  aria-expanded="false"
                  aria-controls="allUsers">Korisnici
          </button>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAdmin()">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#newBook"
                  aria-expanded="true"
                  aria-controls="newBook">Nova knjiga
          </button>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAdmin()">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#newAuthor"
                  aria-expanded="false"
                  aria-controls="newAuthor">Novi autor
          </button>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAdmin()">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#newPublisher"
                  aria-expanded="false"
                  aria-controls="newPublisher">Novi izdavač
          </button>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAdmin()">
          <button type="button" class="btn btn-success"
                  data-bs-toggle="collapse"
                  data-bs-target="#newCategory"
                  aria-expanded="false"
                  aria-controls="newCategory">Nova kategorija
          </button>
        </li>
      </ul>
    </div>

    <div class="col-10 collapse" id="userDetails" data-bs-parent="#group">
      <h5 class="pb-3 border-bottom">Korisnički podaci</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: {{user.username}}</li>
        <li class="list-group-item">E-mail: {{user.email}}</li>
        <li class="list-group-item">Ime: {{user.firstName}}</li>
        <li class="list-group-item">Prezime: {{user.lastName}}</li>
        <li class="list-group-item">Broj telefona: {{user.phoneNumber}}</li>
        <li class="list-group-item">Adresa: {{user.address}}</li>
        <li class="list-group-item">Poštanski broj: {{user.postalCode}}</li>
        <li class="list-group-item">Grad: {{user.city}}</li>
      </ul>
    </div>
    <div class="col-10 collapse" id="orders" data-bs-parent="#group">
      <h5 class="pb-3 border-bottom">Narudžbe</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="orders.length == 0">
          <span class="alert">Nemate izrađenih narudžbi</span>
        </li>
        <li class="list-group-item" *ngFor="let order of orders">
          <a routerLink="../../order/{{order.id}}">
            Narudžba #{{fillZeroes(order.id)}} - {{order.totalPrice}} kn, {{order.datePlaced | date: 'dd.MM.yyyy., HH:mm'}}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-10 collapse" id="allUsers" data-bs-parent="#group" *ngIf="authenticationService.isUserAdmin()">
      <h5 class="pb-3 border-bottom">Svi korisnici</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let user of allUsers">
          <a routerLink="../../user/{{user.username}}">{{user.username}} - {{user.firstName}} {{user.lastName}}</a>
        </li>
      </ul>
    </div>

    <div class="col-10 collapse show" id="newBook" data-bs-parent="#group" *ngIf="authenticationService.isUserAdmin()">
      <h5 class="pb-3 border-bottom mb-3">Nova knjiga</h5>
      <div class="row g-3 align-items-center">
        <form class="w-50">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Naslov</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Autor</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="author">
              <option selected>Odaberite autora...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Izdavač</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="author">
              <option selected>Odaberite izdavača...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3 w-25">
            <label for="price" class="form-label">Cijena (kn)</label>
            <input type="number" class="form-control" id="price" aria-describedby="price" placeholder="Cijena...">
          </div>
          <div class="mb-3 w-25">
            <label for="stock" class="form-label">Stanje</label>
            <input type="number" class="form-control" id="stock" aria-describedby="stock" placeholder="Stanje...">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Opis</label>
            <textarea class="form-control" id="description" aria-describedby="description"> </textarea>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Godina izdanja</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Broj stranica</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Uvez</label>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="author">
                <option selected>Odaberite uvez...</option>
                <option value="Tvrdi">Tvrdi</option>
                <option value="Meki">Meki</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Kategorije (HUIGFEW)</label>
            <select id="multi-select-categories" multiple="multiple">
              <option value="jQuery">jQuery tutorial</option>
              <option value="Bootstrap">Bootstrap Tips</option>
              <option value="HTML">HTML</option>
              <option value="CSS">CSS tricks</option>
              <option value="angular">Angular JS</option>
            </select>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Masa</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Format (MxN)</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Barkod</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">ISBN</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>

          <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
      </div>
    </div>

  </div>
</article>

<script type="text/javascript">
  $(document).ready(function() {
    $('#multi-select-categories').multiselect();
  });

</script>