.container {
  width: 60%;
}

.navbar {
  min-height: 60px;
}

.input-group > input {
  flex: none;
  width: 50%;
}

.badge {
  font-size: 8px;
}

.btn {
  border-radius: 60px;
  margin-top: 5px;
}

.btn-success:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

@media screen and (max-width: 768px) {
  .navbar-nav > li {
    border-right: none !important;;
  }
}