.container {
  width: 60%;
}

.navbar {
  min-height: 60px;
}

.input-group > input {
  flex: none;
  width: 50%;
}

.badge {
  font-size: 8px;
}

.input-group > .btn {
  border-radius: 60px;
}

@media screen and (max-width: 768px) {
  .navbar-nav > li {
    border-right: none !important;;
  }
}