<hr class="m-0 mt-1" style="opacity: 0.10">
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
        <li class="pe-2 ps-2">
          <a href="#" class="nav-link">Pain</a>
        </li>
      </ul>
    </div>
  </nav>
</div>