.dropdown {
  margin-right: 10px;
}

.dropdown > .btn-secondary {
  color: rgba(0,0,0,.55);
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.dropdown > .btn-secondary:hover, .btn-secondary:focus  {
  color: rgba(40, 167, 69, 0.80) !important;
}

.dropdown > .btn-secondary:focus {
  outline: none;
  box-shadow: none;
}

li > a:active{
  background-color: rgba(40, 167, 69, 0.80);
}