/* You can add global styles to this file, and also import other style files */
.nav-link:hover {
  color: rgba(40, 167, 69, 0.80) !important;
}

.discount {
  color: darkgreen;
  text-decoration: line-through;
  margin-right: 3px;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0 auto;
  }
}