<article class="container mb-5">
  <div class="row mt-5">
    <div class="col-lg col-md-6 col-sm-12">
      <img src="{{imagePath}}/{{book?.imagePath}}">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 ms-5">
      <h2>{{book?.title}}</h2>
      <h4>{{book?.author!.firstName}} {{book?.author!.lastName}}</h4>
      <hr>
      <div class="row">
        <div class="col-4">
          <input type="number" class="form-control" placeholder="Količina">
        </div>
        <div class="col-4 text-end">
          <button type="button" class="btn btn-success">Dodaj u košaricu</button>
        </div>
      </div>
      <hr>
      <markdown>{{book?.description}}</markdown>
    </div>
  </div>
</article>