h1, h2, .book-detail-title {
  font-family: Bahnschrift, sans-serif;
}

h5 {
  color: rgba(40, 167, 69, 1.0);
  font-weight: 350;
  font-size: 30px;
}

img {
  border: black solid 1px;
  width: 100%;
  margin-bottom: 20px;
}

.form-control:focus,.btn-success:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

.book-detail-title {
  font-weight: bolder;
}

.book-detail-body {
}

a {
  text-decoration: none;
  color: rgba(40, 167, 69, 1.0);
  font-weight: bold;
  transition: all 0.07s linear;
}

a:hover{
  opacity: 0.6;
}

.disabled-input {
  background-color: lightgray;
}

.disabled-input::placeholder {
  color: white;
}

.discount-details {
  display: inline;
  text-decoration: line-through;
  color: #424242;
}