* {
  font-family: Bahnschrift, sans-serif;
}

.img-container {
  margin-bottom: 10px;
}

img {
  height: 100px;
  width: auto;
}

.carousel-control-prev {
  left: -10%;
  color: black;
  font-size: 30px;
}

.carousel-control-next {
  right: -10%;
  color: black;
  font-size: 30px;
}

.carousel-indicators {
  bottom: -65px;
}

.carousel {
  margin-top: 7%;
}

.carousel > h1 {
  font-size: 35px;
  color: #424242;
  font-family: Bahnschrift, sans-serif;
}

.book-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-container img {
  height: 280px;
  width: auto;
}

.book-container > p {
  font-family: Bahnschrift, sans-serif;
  color: #424242;
  margin: 0;
}

.book-author {
  color: rgba(40, 167, 69, 1.0);
  font-weight: bold;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #424242;
  transition: all 0.07s linear;
}

a:hover{
  opacity: 0.6;
  color: rgba(40, 167, 69, 1.0);
}

a > div {
  transition: all 0.2s linear;
}

a > div:hover {
  transform: scale(1.1);
}

a.alert-link {
  font-size: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .book-container img {
    height: 300px;
    width: auto;
  }
}

@media screen and (max-width: 575px) {
  .book-container img {
    height: 100%;
    width: 100%;
  }
}