<article class="container mb-5">
  <div *ngIf="!cartItems || cartItems.length === 0">
    <h2>Nemate proivoda u košarici</h2>
  </div>
  <div *ngIf="cartItems && cartItems.length > 0" class="row w-50">
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cartItems" class="list-group-item">
        <div class="row align-items-center mb-2">
          <div class="col-lg-2">
            <img src="{{imagePath}}/{{item.book.imagePath}}" alt="{{item.book.title}}">
          </div>
          <div class="col-lg-3">
            <a routerLink="../book/{{item.book.id}}">{{item.book.title}}</a>
          </div>
          <div class="col-lg-3">
            <div class="input-group">
              <input type="number" class="form-control" value="{{item.amount}}" (change)="amountChanged(item.book, $event)">
            </div>
          </div>
          <div class="col-lg-2">
            <span>{{(item.book.discountPrice !== 0 ? item.book.discountPrice * item.amount : item.book.price * item.amount).toFixed(2)}} kn</span>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-danger" (click)="removeItem(item.book.id)">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group list-group-flush mt-3">
        <div class="row align-items-center">
          <button type="button" class="w-25 btn btn-success col-lg-2 col-md-2 col-sm-6" (click)="purchaseBooks()" *ngIf="isUserLoggedIn">
            <i class="fa-solid fa-bag-shopping me-2"></i>Kupnja
          </button>
          <ng-container *ngIf="!isUserLoggedIn">
            <button type="button" class="w-25 btn btn-dark col-lg-2 col-md-2 col-sm-2" (click)="purchaseBooks()" disabled>
              <i class="fa-solid fa-bag-shopping me-2"></i>Kupnja
            </button>
            <span class="ms-5 col-2">Morate biti prijavljeni za kupnju.</span>
          </ng-container>
          <span class="ms-5 col-lg-4 col-md-4 col-sm-4">Ukupno: {{this.totalCartPrice}} kn</span>
        </div>
      </li>
    </ul>
  </div>
</article>