* {
  font-family: Bahnschrift, sans-serif;
}

.img-container {
  margin-bottom: 10px;
}

img {
  height: 100px;
  width: auto;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #424242;
  transition: all 0.07s linear;
}

a:hover{
  opacity: 0.6;
  color: rgba(40, 167, 69, 1.0);
}

a > div {
  transition: all 0.2s linear;
}

a > div:hover {
  transform: scale(1.1);
}

.btn-danger:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.1rem rgba(110, 0, 0, 0.25);
}

@media screen and (max-width: 992px) {
  .book-container img {
    height: 300px;
    width: auto;
  }
}

@media screen and (max-width: 575px) {
  .book-container img {
    height: 100%;
    width: 100%;
  }
}